/* navbar */

.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
    text-transform: uppercase;
}

/* jumbotron */
.jumbotron {
    background-image: url(http://localhost/jobbook/public/asset/img/landingPage/jumbotron-bg.jpg);
    background-size: cover;
    height: 540px;
    position: relative;
}

.jumbotron .container {
    margin-top: 75px;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4,
.lead {
    color: rgb(0, 0, 0) !important;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
    font-weight: 200;
}

.jumbotron .display-4 {
    font-family: Viga;
    font-size: 35px;
    text-transform: capitalize;
}

.jumbotron .form-inline .btn,
.form-control {
    border-radius: 0px;
}

.jumbotron::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    bottom: 0;
    position: absolute;
}

.carousel-inner {
    position: relative;
    width: 70%;
    overflow: hidden
}


/* paralax efek with jumbotron */
.paralax {
    background-image: url(../img/paralak-efek.jpg);
    background-position: 0 10px;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 100px;
}

.paralax .container {
    margin-top: -5px;
}

/* .paralax .display-4 {
    color: #fbfbfb !important;
    margin-top: 80px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 40px;
    margin-bottom: 30px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
}

.paralax .display-4 span {
    font-weight: 500;
} */



/* form panel */
.form-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: -55px;
    background-color: #fff;
    padding: 35px;
}

.form-group .btn-cari {
    width: 100%;
    margin-top: 20%;
    /* border-radius: 20px; */
}

.container-fluid {
    width: 85%;
}

/* workingspace */
.workingspace {
    margin-top: 130px;
    text-align: center;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    font-weight: 500;
}

/* profil */
.blockquote {
    margin-top: 100px;
    margin-bottom: 70px;
    padding: 20px;
}

.workingspace p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 35px 0;
}

/* Footer */
.footer {
    background-color: black;
    margin-top: 100px;
    width: 101%;
    padding: 15px 0;
}

.footer p {
    color: #aaccaa;
    font-size: 12px;
    font-style: italic;
}


/* Utility */
.btn-tombol {
    text-transform: uppercase;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
}

.btn-warning {
    background-color: rgb(255, 157, 0);
}


.btn-cari {
    color: white;
    font-weight: 500;
    background-color: rgb(255, 157, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    display: block;
}

.icon {
    width: 24px;
}

.input-group-text {
    background-color: rgb(255, 157, 0);
}

.img-col1 {
    width: 320px;
    height: 250px;
    position: relative;
    margin-bottom: 25px;
}




/* Desktop Version */
@media (min-width: 992px) {

    /* navbar */

    .navbar {
        background-color: transparent;
        transition: 1.2s;
        background-color: rgba(22, 22, 22, 0.1);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030
    }

    /* transformasi efek scroll */

    .navbar.shrink {
        content: '';
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0);
        width: 100%;
    }

    .navbar-brand,
    .nav-link.shrink {
        /* color: rgb(5, 5, 5) !important; */
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    /* akhir transformasi efek scroll */


    .nav-link {
        margin-right: 30px;
        text-transform: uppercase;
    }

    .navbar-brand,
    .nav-link,
    .btn-tombol {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    /* nav hover */
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(255, 157, 0);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* jumbotron */

    .jumbotron .display-4 {
        font-family: Viga;
        font-size: 51px;
    }

    .jumbotron {
        height: 580px;
    }

    /* form panel  */
    .form-panel {
        margin-top: -100px;
    }

    .workingspace {
        text-align: left;
    }


    /* Utility */
    .btn-warning:hover {
        background-color: rgb(255, 157, 0);
        width: 150px;
    }

    .footer p {
        color: #aaccaa;
        font-size: 16px;
    }

    .img-lg1 {
        /* background-image: url("../img/Why Chose Us.jpg"); */
        width: 100%;
        height: 100px;
        position: relative;
        background-size: cover;
        /* opacity: 5; */
        /* margin-bottom: 25px; */
    }


    .img-lg1::after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(236, 116, 4, 0.7), rgba(250, 110, 16, 0.7));
        bottom: 0;
        position: absolute;
    }

    .img-lg1:hover::after {
        content: "";
        background-image: linear-gradient(rgba(236, 116, 4, 0.1), rgba(250, 110, 16, 0.1));
        display: block;
        height: 100%;
        width: 100%;
        bottom: 0;
        position: absolute;
        
        
    }
}
/* Register session */
.ShadowBox {
    -webkit-box-shadow: 2px 4px 12px 3px rgba(191, 191, 191, 1);
    -moz-box-shadow: 2px 4px 12px 3px rgba(191, 191, 191, 1);
    box-shadow: 2px 4px 12px 3px rgba(191, 191, 191, 1);
}

.gardient {
    background: rgba(39, 193, 231, 1);
    background: -moz-linear-gradient(-45deg, rgba(39, 193, 231, 1) 14%, rgba(13, 231, 244, 1) 71%, rgba(0, 250, 250, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(14%, rgba(39, 193, 231, 1)), color-stop(71%, rgba(13, 231, 244, 1)), color-stop(100%, rgba(0, 250, 250, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(39, 193, 231, 1) 14%, rgba(13, 231, 244, 1) 71%, rgba(0, 250, 250, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(39, 193, 231, 1) 14%, rgba(13, 231, 244, 1) 71%, rgba(0, 250, 250, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(39, 193, 231, 1) 14%, rgba(13, 231, 244, 1) 71%, rgba(0, 250, 250, 1) 100%);
    background: linear-gradient(135deg, rgba(39, 193, 231, 1) 14%, rgba(13, 231, 244, 1) 71%, rgba(0, 250, 250, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#27c1e7', endColorstr='#00fafa', GradientType=1);
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}
.xej {
    width: 100%;
    height: 48px;
    display: inline-block;
    margin: 0 8px 8px 0;
    position: relative;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    border-radius: 4px;
}
.font-color {
    color: rgb(236, 236, 236);
}
/* view index*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: #eee;
}
header{
    width: 100%;
    height: 50vh;
    background: linear-gradient(to bottom, rgba(0,0,0.8), rgba(0,0,0,0.5)), url("Gambar/vvv.jpg") center no-repeat;
    background-size: cover;
}
.container{
    max-width: 128rem;
    width: 90%;
    margin: 0 auto;
}
nav{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}
nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}
nav ul li a:last-child{
    margin-right: 0;
}
.photo {
    width: 80%;
    height: 45vh;
    margin-left: 6%;
    margin-top: 4%;
    margin-bottom: 5%;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
    width: 30%;
    height: 30vh;
    margin-top: 1.5%;
    margin-left: 2%;
    margin-bottom: 10%;
}

.form-group{
    width: 13%;
    height: 0.3%;
    margin-left: 16%;
    margin-top: -18%;
    position: absolute;
}
input[type=text]:focus {
    border: 2px solid #4b81e2;
  }
.info{
    width: 100%;
    font-size: 30px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -35%;
    margin-left: 50%;
    position: absolute;
}
.hr1{
    width: 88%;
    height: 10%;
    margin-left: 47%;
    margin-top: -21%;
    position: absolute;
    background-color: black;
}
.font1{
    width: 25%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: -15%;
    position: absolute;
}
.input1{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: -15%;
    margin-left: 68%;
}
.font2{
    width: 25%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 2%;
    position: absolute;
}
.input2{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 2%;
    margin-left: 68%;
}
.font3{
    width: 48%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 20%;
    position: absolute;
}
.input3{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 20%;
    margin-left: 68%;
}
.font4{
    width: 48%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 38%;
    position: absolute;
}
.input4{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 38%;
    margin-left: 68%;
}
.font5{
    width: 60%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 58%;
    position: absolute;
}
.input5{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 58%;
    margin-left: 68%;
}
.font6{
    width: 60%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 78%;
    position: absolute;
}
.input6{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 78%;
    margin-left: 68%;
}
.font7{
    width: 80%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 98%;
    position: absolute;
}
.input7{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 98%;
    margin-left: 68%;
}
.hr2{
    width: 425%;
    height: 10%;
    margin-left: -143.5%;
    margin-top: 115%;
    position: absolute;
    background-color: black;
}

.btn1{
    width: 40%;
    font-size: 20px;
    position: absolute;
    margin-top: 125%;
    margin-left: 40%;
    background: #c33119;
    text-align: center;
    border: none;
    border-radius: 10px;
}
.btn2{
    width: 40%;
    font-size: 20px;
    position: absolute;
    margin-top: 125%;
    margin-left: 95%;
    background: #7c9ede;
    text-align: center;
    border: none;
    border-radius: 10px;
}
/* part 2 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: #eee;
}
header{
    width: 100%;
    height: 50vh;
    background: #244e9b center no-repeat;
    background-size: cover;
}
.container{
    max-width: 128rem;
    width: 90%;
    margin: 0 auto;
}
nav{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}
nav{
    display: flex;
}
nav h1{
    width: 4%;
    height: 0.3%;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    margin-left: 5%;
    margin-top: -0.5%;
    position: absolute;
}
.project {
    width: 80%;
    height: 50vh;
    margin-left: 6%;
    margin-top: 4%;
    margin-bottom: 5%;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
    width: 5%;
    height: 5vh;
    margin-left: 2%;
}
.form-group1{
    width: 13%;
    height: 0.3%;
    margin-left: 16%;
    margin-top: -18%;
    position: absolute;
}
input[type=text]:focus {
    border: 2px solid #4b81e2;
  }
  .aha{
    width: 100%;
    font-size: 30px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 150%;
    margin-left: 50%;
    position: absolute;
}
.hr3{
    width: 88%;
    height: 10%;
    margin-left: 47%;
    margin-top: 165%;
    position: absolute;
    background-color: black;
}
.kokoh7{
    width: 25%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 180%;
    position: absolute;
}
.mas7{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 180%;
    margin-left: 68%;
}
.kokoh8{
    width: 25%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 200%;
    position: absolute;
}
.mas8{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 200%;
    margin-left: 68%;
}
.kokoh9{
    width: 48%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 220%;
    position: absolute;
}
.mas9{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 220%;
    margin-left: 68%;
}
.kokoh10{
    width: 48%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 240%;
    position: absolute;
}
.mas10{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 240%;
    margin-left: 68%;
}
.kokoh11{
    width: 60%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 260%;
    position: absolute;
}
.mas11{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 260%;
    margin-left: 68%;
}
.kokoh12{
    width: 60%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 280%;
    position: absolute;
}
.mas12{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 280%;
    margin-left: 68%;
}
.kokoh13{
    width: 80%;
    height: 0.3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 300%;
    position: absolute;
}
.mas13{
    width: 100%;
    font-size: 20px;
    position: absolute;
    margin-top: 300%;
    margin-left: 68%;
}
.ea4{
    width: 425%;
    height: 10%;
    margin-left: -143.5%;
    margin-top: 315%;
    position: absolute;
    background-color: black;
}

.uha{
    width: 40%;
    font-size: 20px;
    position: absolute;
    margin-top: 325%;
    margin-left: 40%;
    background: #c33119;
    text-align: center;
    border: none;
    border-radius: 10px;
}
.ahu{
    width: 40%;
    font-size: 20px;
    position: absolute;
    margin-top: 325%;
    margin-left: 95%;
    background: #7c9ede;
    text-align: center;
    border: none;
    border-radius: 10px;
}